* {
  box-sizing: content-box;
}

button {
  cursor: pointer;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  overflow-x: hidden;
  --body-text: #494052;
  --primary-contrast: #AC89D1;
  --secondary-contrast: #F291B7;
}

h1 {
  font-weight: 200;
  margin: 0;
  text-transform: uppercase;
  font-size: 26px;
  border-bottom: 2px solid var(--body-text);
}

h2 {
  font-weight: 100;
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
}

p, li {
  font-size: 12px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: var(--primary-contrast);
}

a:visited {
  text-decoration: none;
}

a span {
  text-decoration: underline;
}

.heading--body {
  margin-bottom: 12px;
}

.icon {
  background-color: red;
  -webkit-mask: url(logo.svg) no-repeat center;
  mask: url(logo.svg) no-repeat center;
}

.page {
  height: 11in;
  width: 8.5in;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.info {
  padding: 18px 24px;
  padding-bottom: 8px;
  border: 2px solid var(--body-text);
  display: flex;
}

.body {
  display: flex;
  margin: 24px;
  margin-bottom: 0;
  flex-grow: 1;
  align-items: stretch;
}

.left-column {
  width: 160px;
  
  padding-right: 24px;
  padding-top: 20px;
  flex-shrink: 0;
}

.skills {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.skills--skill-name {
  margin-bottom: 2px;
  margin-top: 6px;
  font-size: 12px;
  font-weight: 400;
}

.skills--scale {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 2px;
  background-color: var(--body-text);
  align-items: flex-start;
  margin-bottom: 40px;
}

.skills--tick {
  width: 2px;
  background-color: var(--body-text);
  position: relative;
  height: 0px;
  margin-top: 2px;
}

.skills--tick-label {
  position: absolute;
  width: 30px;
  text-align: center;
  left: -14px;
  top: 10px;
  font-size: 10px;
}

.skills--proficiency-bar {
  height: 12px;
  background: lightgrey;
}

.skills--proficiency-foreground {
  width: var(--proficiency);
  background: var(--primary-contrast);
  height: 100%;
}

.skills--lang .skills--proficiency-foreground {
  background: var(--secondary-contrast);
}

.skills--lang.skills--skill-item {
  margin-top: 32px;
}

.skills--lang.skills--skill-item ~ .skills--lang.skills--skill-item {
  margin-top: 0;
}

.skills--heading {
  border: none;
  text-align: right;
}

.name--picture {
  width: 140px;
  height: 140px;
  background: var(--primary-contrast);
  border-radius: 50%;
  margin: 0 34px;
}

.name {
  display: flex;
  padding: 24px 0;
}

.name--name {
  margin: 0 24px;
  height: 100px;
  flex-grow: 1;
  border: 4px solid var(--primary-contrast);
  color: var(--primary-contrast);
  text-transform: uppercase;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 56px;
  font-weight: 100;
}

.about {
  background: var(--primary-contrast);
  color: white;
  display: flex;
  align-items: stretch;
  padding: 20px 0;
}

.about--contact-heading {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 160px;
  margin: 0 24px;
  flex-shrink: 0;
}

.about--contact {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 12px;
  margin: auto 0;
}

.about--contact-item {
  display: flex;
  color: white !important;
  align-items: center;
}

.about--contact-item ~ .about--contact-item {
  margin-top: 2px;
}

.about--contact-item i {
  margin-left: 8px;
}

.about--heading {
  text-align: right;
  border: none;
}

.about--description {
  font-size: 14px;
  border-left: 1px solid white;
  padding: 12px 24px;
  margin: 0;
}

.personal--heading {
  margin-top: 24px;
}

.personal--name {
  margin: 0;
  display: flex;
  align-items: center;
}

.personal--repo-technologies {
  display: flex;
  align-items: stretch;
  height: 28px;
}

.personal--description {
  margin-top: 0;
}

.personal--technologies {
  display: flex;
  align-items: center;
  font-size: 12px;
  margin-bottom: 8px;
}

.personal--links {
  margin-left: 10px;
  border-left: 1px solid var(--body-text);
  padding-left: 10px;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

.personal--links i {
  font-size: 16px;
  margin-right: 4px;
}

.personal--link {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.personal--link ~ .personal--link {
  margin-left: 10px;
}

.work {
  width: 250px;
  margin-right: 24px;
}

.work--contact {
  display: flex;
  font-size: 12px;
  align-items: center;
  margin-top: 8px;
}

.work--contact i {
  display: flex;
  font-size: 18px;
  margin-right: 8px;
}

.work--contact-email {
  font-size: 10px;
}

.footer {
  display: flex;
  justify-content: flex-end;
  font-size: 8px;
  height: 12px;
  align-items: center;
  margin: 6px 24px;
}

.footer--link {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.footer--link i {
  margin-right: 2px;
}

@media print {
  .personal--link {
    font-size: 8px;
  }
  .personal--link ~ .personal--link {
    margin-left: 0 !important;
  }
  .personal--links i {
    font-size: 14px;
    margin-right: 2px;
  }
  .personal--links {
    flex-direction: column;
    margin-left: 6px;
    padding-left: 6px;
  }
}

@media not print {
  .printer--show {
    display: none !important;
  }
}

@media print {
  .printer--hide {
    display: none !important;
  }
}